################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Core/bin/Debug/net6.0
/Core/obj
/LloydAnt-SMS/bin/Debug/net6.0
/LloydAnt-SMS/obj
/Logic/obj
/Logic/bin/Debug/net6.0
