@{
    ViewData["Title"] = "SMS - Register";
}

<!-- ======= Hero Section ======= -->
<section class="breadcrumbs">
    <div class="container justify-content-center">
        <div class="col-lg-6 col-md-6 col-sm-12" data-aos="fade-up" data-aos-delay="100">
            <div class="card">
                <div class="card-header text-center">
                    <h2>Login</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <label f class="form-label">Email address</label>
                                <input type="email" class="form-control" id="email">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-3">
                                <label class="form-label">Password</label>
                                <input type="password" class="form-control" id="password">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center py-3">
                            <button onclick="loginPost()" class="btn btn-primary p-2">Login</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
